@model EntityFrameworkDemo.Models.Product
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Edit Product</h2>
<form action="/products/edit/@Model.pid" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="pname">Product Name</label>
            <input type="hidden" name="pid" value="@Model.pid" />
            <input type="text" class="form-control" id="pname" name="pname" value="@Model.pname" placeholder="enter product name here" />
        </div>

        <div class="form-group col-md-6">
            <label for="price">Product Price</label>
            <input type="text" class="form-control" id="price" name="price" value="@Model.price" placeholder="enter product price here" />
        </div>

        <div class="form-group col-md-6">
            <label for="dateofpurchase">Date Of Purchase</label>
            <input type="date" class="form-control" id="dateofpurchase" name="dateofpurchase" value="@Model.dateofpurchase.Value.ToString("yyyyy/MM/dd")" placeholder="enter product purchase date here" />
        </div>

        <div class="form-group col-md-6">
            <label for="availablestatus">Available Status</label>
            <select class="form-control" id="availablestatus" name="availablestatus" value="@Model.availablestatus" placeholder="enter product status here">
            <option value="">Please Select</option>
            <option value="instock">InStock</option>
            <option value="outoufstock">OutOfStock</option>
            </select>
        </div>

        <div class="form-group col-md-6">
            <label for="cid">Category ID</label>
            <select class="form-control" id="cid" name="cid" value="@Model.cid" placeholder="enter category id here">

            <option value="">Please Select</option>
                @foreach (var cat in ViewBag.Categories) {
                    if (cat.cid == Model.cid)
                    {
                        <option value="@cat.cid" selected="selected">@cat.cname</option>
                    }
                    else { 
                        <option value="@cat.cid">@cat.cname</option>
                       }
                }
            </select>
        </div>

        <div class="form-group col-md-6">
            <label for="bid">Brand ID</label>
            <select class="form-control" id="bid" name="bid" value="@Model.bid" placeholder="enter brand id here">
            <option value="">Please Select</option>
            @foreach (var br in ViewBag.Brands)
            {
                if (br.bid == Model.bid)
                {
                    <option value="@br.bid" selected="selected">@br.bname</option>
                }
                else
                {
                    <option value="@br.bid">@br.bname</option>
                }
            }
            </select>
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-info">Edit Product</button>
    <a href="/products/index" class="btn btn-danger">Cancel</a>
</form>
